<html>
  <header>
  </header>
  <body>
  <form method= "post" action="/done">
<!-- label= "food[]" id= "food[]" -->
     <br>
     <input type="hidden" value=<%=choice%>> <br>
     Thanks for getting a <%=choice%> sandwich.
    </form>
  </body>
</html>
