<html>
  <header>
  </header>
  <body>
  <form method= "post" action="/done">

 <h3>You've got a sandwich with</h3>
<%toppings.each do |confirm|%>
    <p> <%=confirm%></p>
<%end%>
<p> Enjoy! </p>
    </form>
  </body>
</html>
