

<html>
  <header>
  </header
  <body>
  <form method= "post" action="/results">
<!-- label= "food[]" id= "food[]" -->
     Please confirm your selections below. <br>
     <p><input  type="checkbox" name= "choice[]" value=<%= meat%> </p>
     <p><input  type="checkbox"  name= "choice[]" value=<%= veg%> </p>
     <p><input  type="checkbox" name= "choice[]" value= <%= cheese%> </p>
 
    	<input type= "submit" value= "Confirm">
    </form>
  </body>
</html>
