

<html>
  <header>
  </header>
  <body>
     Please confirm your selections below. <br>
     <%food.each do |x|%>
<form action="/results">
        <p><input type="checkbox" value="<%=x%>" name="toppings[]"><%=x%></p>
    <%end%>
    <input type="submit" value="Confirm!">
</form>
    </form>
  </body>
</html>
